{
  "plugins": ["@babel/syntax-dynamic-import"],
  "presets": [
    ["@babel/preset-env", {"targets": {
      "chrome": "111",
      "firefox": "128",
      "safari": "16.4"
    }}],
    ["@babel/preset-react", { "runtime": "automatic" }]
  ]
}
