.coverage*
coverage/
docs/sphinx/_build/
.env
backend/plant_tracker/static/**/*.js
backend/plant_tracker/static/**/*.css
backend/plant_tracker/static/**/*.mp3
backend/plant_tracker/static/**/*.json
backend/staticfiles/
backend/data/
backend/*.json
backend/*.tar
node_modules/
*.png
*.jpg
*.jpeg
*.webp
*.crt
*.key
*.pem
*.swp
