[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
piexif = "*"
celery = "*"
redis = "*"
django-redis = "*"
pillow = "~=11.0"
pillow-heif = "*"
django = "*"
segno = "*"

[dev-packages]
pylint-django = "*"
sphinx = "*"
pylint-exit = "*"
anybadge = "*"
coverage = "*"
ipython = "*"
pylint = "*"
fakeredis = "*"

[requires]
python_version = "3.13"
