[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "~=9.0"
pyqrcode = "*"
pypng = "*"
django = "*"
piexif = "*"

[dev-packages]
ipython = "*"
pylint = "*"
pylint-django = "*"
sphinx = "*"
pylint-exit = "*"
anybadge = "*"
coverage = "*"

[requires]
python_version = "3.10"
