[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
piexif = "*"
celery = "==5.5.2"
redis = "*"
django-redis = "5.4.0"
pillow = "~=11.0"
pillow-heif = "*"
django = "~=5.2.6"
segno = "*"
django-unique-user-email = "*"
psycopg = {extras = ["binary"], version = "*"}
whitenoise = "*"
django-storages = {extras = ["s3"], version = "*"}
cryptography = "*"

[dev-packages]
pylint-django = "*"
sphinx = "*"
pylint-exit = "*"
anybadge = "*"
coverage = "*"
ipython = "*"
pylint = "*"
fakeredis = "2.29.0"
django-silk = "*"
sphinxcontrib-django = "*"
django-debug-toolbar = "*"
sphinx-rtd-theme = "*"
tblib = "*"

[requires]
python_version = "3.13"
