[run]
branch = True
source = .
omit =
    *manage.py
    *wsgi.py
    *asgi.py
    */test_*.py
    *unit_test_helpers.py
    */migrations/*.py
    backend/settings.py
    backend/urls.py
    plant_tracker/apps.py

[report]
precision = 1
show_missing = True
skip_empty = True
