{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Prevent visual flash on page load in dark mode #}
    <link rel="stylesheet" type="text/css" href="{% static css_bundle %}" />
    <style>
        html[data-theme="dark"] body {
            background: #1D232A;
        }
    </style>
    <script>
        // Set theme dataset attribute from localStorage (or default to dark)
        const initialTheme = localStorage.getItem('theme') || 'dark';
        document.documentElement.setAttribute('data-theme', initialTheme);
    </script>
</head>

<body>
    <div id="root"></div>
    {# Iterate state object from context, save each key to JSON object #}
    {# Each object is parsed by react bundle to set initial state #}
    {% for key, value in state.items %}
        {{ value|json_script:key }}
    {% endfor %}

    {# Save bool that controls whether user profile links are rendered #}
    {{ user_accounts_enabled|json_script:"user_accounts_enabled" }}

    {# Import bundle specified in context, renders app into root div #}
    <script src="{% static js_bundle %}"></script>
</body>
</html>
