<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manage Plant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <style>
        /* Limit width for readability on large screen sizes */
        @media (min-width: 1200px) {
            .container {
                width: 960px;
            }
        }
    </style>
</head>
<body>
    <div class="container d-flex flex-column vh-100">
        <div class="d-flex flex-column text-center mb-5">
            {% if plant.name %}
                <h1>{{ plant.name }}</h1>
            {% else %}
                <h1>Unnamed Plant</h1>
            {% endif %}
            {% if plant.species %}
                <h5>Species: {{ plant.species }}</h5>
            {% endif %}
            {% if plant.description %}
                <p>Description: {{ plant.description }}</p>
            {% endif %}
            <button class="btn btn-primary btn-sm mx-auto" onClick="editModal.show();">Edit</button>
        </div>

        <div class="d-flex flex-column text-center mb-5">
            <p id="lastWatered" data-bs-toggle="collapse" data-bs-target="#waterList" aria-expanded="false" aria-controls="waterList"></p>
            <div class="collapse mx-auto p-3" id="waterList" style="background-color: #ddd;">
                {% for timestamp in water_events %}
                    <p>{{ timestamp }}<button class="btn btn-danger btn-sm ms-2" onClick="deleteEvent('{{timestamp}}', 'water')"><i class="bi bi-trash"></i></button></p>
                {% endfor %}
            </div>
            <p id="lastFertilized" data-bs-toggle="collapse" data-bs-target="#fertilizeList" aria-expanded="false" aria-controls="fertilizeList"></p>
            <div class="collapse mx-auto p-3" id="fertilizeList" style="background-color: #ddd;">
                {% for timestamp in fertilize_events %}
                    <p>{{ timestamp }}<button class="btn btn-danger btn-sm ms-2" onClick="deleteEvent('{{timestamp}}', 'fertilize')"><i class="bi bi-trash"></i></button></p>
                {% endfor %}
            </div>
            {% if plant.last_watered %}
                <script>
                    var timestamp = luxon.DateTime.fromISO("{{plant.last_watered}}").setZone('system');
                    document.getElementById('lastWatered').innerHTML = `Last watered: ${timestamp.toRelative()}`;
                </script>
            {% else %}
                <script>
                    document.getElementById('lastWatered').innerHTML = 'Never watered';
                </script>
            {% endif %}
            {% if plant.last_fertilized %}
                <script>
                    var timestamp = luxon.DateTime.fromISO("{{plant.last_fertilized}}").setZone('system');
                    document.getElementById('lastFertilized').innerHTML = `Last fertilized: ${timestamp.toRelative()}`;
                </script>
            {% else %}
                <script>
                    document.getElementById('lastFertilized').innerHTML = 'Never fertilized';
                </script>
            {% endif %}
        </div>

        <div class="d-flex flex-column mx-auto">
            <form id="waterForm" class="d-flex flex-column mb-3" onSubmit="waterPlant(event);">
                <input type="datetime-local" id="waterTime" name="waterTime" step="1" />
                <button class="btn btn-primary mt-1" type="submit">Water</button>
            </form>

            <form id="fertilizeForm" class="d-flex flex-column mb-3" onSubmit="fertilizePlant(event);">
                <input type="datetime-local" id="fertilizeTime" name="fertilizeTime" step="1" />
                <button class="btn btn-success mt-1" type="submit">Fertilize</button>
            </form>
        </div>

        {% if plant.tray %}
        <div class="d-flex flex-column mt-5 mx-auto">
            <p>Plant is in tray <b><a href="/manage/{{plant.tray.uuid}}">{{ plant.tray.name }}</a></b></p>
            <button class="btn btn-danger" onClick="removeFromTray();">Remove</button>
        </div>
        {% else %}
        <div class="d-flex flex-column mt-5 mx-auto">
            <h4>Add plant to tray:</h4>
            <select id="traySelect" class="form-select" aria-label="Select tray" onChange="addToTray();" autocomplete="off">
                <option selected>Select a tray</option>
                {% for tray in trays %}
                    <option value="{{tray.uuid}}">{{tray.name}}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    </div>

    {# Modal shown when user clicks edit button #}
    <div id="editDetails" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Plant Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "plant_tracker/plant_details_form.html" %}
                </div>
            </div>
        </div>
    </div>

    {{ plant.uuid|json_script:"uuid" }}

    <script>
        // Parse plant UUID from django context
        const plantUUID = JSON.parse(document.getElementById('uuid').textContent);

        const editModal = new bootstrap.Modal(document.getElementById('editDetails'));

        // Auto-fill water and fertilize inputs with current timestamp
        document.getElementById("waterTime").value = luxon.DateTime.now().toFormat("yyyy-MM-dd'T'HH:mm:ss");
        document.getElementById("fertilizeTime").value = luxon.DateTime.now().toFormat("yyyy-MM-dd'T'HH:mm:ss");

        // Takes name of cookie, returns cookie
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        async function sendPostRequest(endpoint, data) {
            try {
                const response = await fetch(endpoint, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify(data)
                });

                if (!response.ok) {
                    throw new Error('Network response error');
                } else if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    const responseData = await response.json();
                    console.log(responseData);
                    return responseData;
                }
            } catch (error) {
                console.error('Fetch error:', error);
            }
        }

        // Takes value of datetime-local input, returns as UTC string
        function localToUTC(timestamp) {
            return String(luxon.DateTime.fromISO(timestamp).toUTC());
        }

        async function waterPlant(event) {
            event.preventDefault();
            const payload = {
                plant_id: plantUUID,
                event_type: 'water',
                timestamp: localToUTC(document.getElementById("waterTime").value)
            }
            await sendPostRequest('/add_plant_event', payload);
        }

        async function fertilizePlant(event) {
            event.preventDefault();
            const payload = {
                plant_id: plantUUID,
                event_type: 'fertilize',
                timestamp: localToUTC(document.getElementById("fertilizeTime").value)
            }
            await sendPostRequest('/add_plant_event', payload);
        }

        // Edit details form submit listener
        document.getElementById('plantDetailsForm').addEventListener('submit', async function(e) {
            e.preventDefault();

            const data = new FormData(document.getElementById('plantDetailsForm'));
            const payload = Object.fromEntries(data.entries());
            payload.plant_id = plantUUID;
            console.log(payload);

            await sendPostRequest('/edit_plant', payload);
        });

        async function addToTray() {
            const trayUUID = document.getElementById('traySelect').value;
            try {
                const response = await sendPostRequest('/add_plant_to_tray', {plant_id: plantUUID, tray_id: trayUUID});
                if (response) {
                    window.location.reload();
                }
            } catch(error) {
                alert("Failed to add plant to tray")
            }
        }

        async function removeFromTray() {
            try {
                const response = await sendPostRequest('/remove_plant_from_tray', {plant_id: plantUUID});
                if (response) {
                    window.location.reload();
                }
            } catch(error) {
                alert("Failed to remove plant from tray")
            }
        }

        async function deleteEvent(timestamp, type) {
            const payload = {
                plant_id: plantUUID,
                event_type: type,
                timestamp: timestamp
            }
            const response = await sendPostRequest('/delete_plant_event', payload);
            if (response) {
                window.location.reload();
            }
        }
    </script>
</body>
</html>
