<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manage Plant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <style>
        /* Limit width for readability on large screen sizes */
        @media (min-width: 1200px) {
            .container {
                width: 960px;
            }
        }
    </style>
</head>
<body>
    <div class="container d-flex flex-column vh-100">
        <div class="d-flex flex-column text-center mb-5">
            {% if plant.name %}
                <h1>{{ plant.name }}</h1>
            {% else %}
                <h1>Unnamed Plant</h1>
            {% endif %}
            {% if plant.species %}
                <h5>Species: {{ plant.species }}</h5>
            {% endif %}
            {% if plant.description %}
                <p>Description: {{ plant.description }}</p>
            {% endif %}
            <button class="btn btn-primary btn-sm mx-auto" onClick="editModal.show();">Edit</button>
        </div>

        <div class="text-center mb-5">
            <p id="lastWatered"></p>
            <p id="lastFertilized"></p>
            {% if plant.last_watered %}
                <script>
                    const timestamp = luxon.DateTime.fromISO("{{plant.last_watered}}").setZone('system');
                    document.getElementById('lastWatered').innerHTML = `Last watered: ${timestamp.toRelative()}`;
                </script>
            {% else %}
                <script>
                    document.getElementById('lastWatered').innerHTML = 'Never watered';
                </script>
            {% endif %}
            {% if plant.last_fertilized %}
                <script>
                    const timestamp = luxon.DateTime.fromISO("{{plant.last_fertilized}}").setZone('system');
                    document.getElementById('lastFertilized').innerHTML = `Last fertilized: ${timestamp.toRelative()}`;
                </script>
            {% else %}
                <script>
                    document.getElementById('lastFertilized').innerHTML = 'Never fertilized';
                </script>
            {% endif %}
        </div>

        <div class="d-flex flex-column mx-auto">
            <button class="btn btn-primary mb-3" onClick="waterPlant();">Water</button>
            <button class="btn btn-success mb-3" onClick="fertilizePlant();">Fertilize</button>
        </div>
    </div>

    {# Modal shown when user clicks edit button #}
    <div id="editDetails" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Plant Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "plant_tracker/plant_details_form.html" %}
                </div>
            </div>
        </div>
    </div>

    {{ plant.id|json_script:"uuid" }}

    <script>
        // Parse plant UUID from django context
        const plantUUID = JSON.parse(document.getElementById('uuid').textContent);

        const editModal = new bootstrap.Modal(document.getElementById('editDetails'));

        // Takes name of cookie, returns cookie
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        async function waterPlant() {
            try {
                const response = await fetch(`/water/${plantUUID}`);

                if (!response.ok) {
                    throw new Error('Network response error');
                }

                const responseData = await response.json();
                console.log(responseData);
            } catch (error) {
                console.error('Fetch error:', error);
            }
        }

        async function fertilizePlant() {
            try {
                const response = await fetch(`/fertilize/${plantUUID}`);

                if (!response.ok) {
                    throw new Error('Network response error');
                }

                const responseData = await response.json();
                console.log(responseData);
            } catch (error) {
                console.error('Fetch error:', error);
            }
        }

        // Edit details form submit listener
        document.getElementById('detailsForm').addEventListener('submit', async function(e) {
            e.preventDefault();

            const data = new FormData(document.getElementById('detailsForm'));
            const payload = Object.fromEntries(data.entries());
            payload.uuid = plantUUID;
            console.log(payload);

            try {
                const response = await fetch('/edit_plant', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify(payload)
                });

                if (!response.ok) {
                    throw new Error('Network response error');
                } else if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    const responseData = await response.json();
                    console.log(responseData);
                }
            } catch (error) {
                console.error('Fetch error:', error);
            }
        });
    </script>
</body>
</html>
