{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register New Plant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @media (prefers-color-scheme: dark) {
          body {
            background: #1D232A;
          }
        }
    </style>
</head>

<body>
    <div id="root"></div>
    {{ new_id|json_script:"uuid" }}
    <script src="{% static 'plant_tracker/register.js' %}"></script>
</body>
</html>
