<form id="trayDetailsForm" class="mx-auto w-100">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        <label for="name">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="location" name="location" placeholder="Location">
        <label for="location">Location</label>
    </div>
    <div class="d-flex">
        <button type="submit" class="btn btn-success mx-auto">Save Tray</button>
    </div>
</form>
