/* Container <ul>, contains <li> for each option (no class needed) */
@utility menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem;
    width: fit-content;

    /* Each <li> inside menu (wraps a single option OR a submenu <ul>) */
    :where(& li) {
        position: relative;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
    }
    /* Empty <li>: Draw 1px horizontal line divider */
    :where(& li:empty) {
        @apply bg-base-content;
        opacity: 0.1;
        margin: 0.5rem 1rem;
        height: 1px;
    }

    /* Contents of each <li> (unless contains another <ul>) */
    /* If contains <details> then this applies to the <summary> inside instead */
    & :where(li > *:not(ul, details, .btn)),
    & :where(li > details > summary) {
        display: grid;
        grid-auto-flow: column;
        align-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        grid-auto-columns: minmax(auto, max-content) auto max-content;
        -webkit-user-select: none;
        user-select: none;
        border-radius: var(--radius-field);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: start;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 200ms;
        text-wrap: nowrap;
    }

    /* Submenu <ul> inside <li>: Indent 1 level deeper than parent */
    & :where(li ul) {
        position: relative;
        white-space: nowrap;
        margin-inline-start: 1rem;
        padding-inline-start: 0.5rem;
    }
    /* Draw vertical line in indented space to the left of submenu */
    & :where(li ul):before {
        position: absolute;
        bottom: 0.75rem;
        inset-inline-start: 0px;
        top: 0.75rem;
        width: 1px;
        background-color: var(--color-base-content);
        opacity: 0.1;
        content: "";
    }
    /* Draw arrow pointing down on right side of <details> <summary> */
    & :where(li > details > summary):after {
        justify-self: end;
        display: block;
        margin-top: -0.5rem;
        height: 0.5rem;
        width: 0.5rem;
        transform: rotate(45deg);
        transition-property: transform, margin-top;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        content: "";
        transform-origin: 75% 75%;
        box-shadow: 2px 2px;
        pointer-events: none;
    }
    /* Flip arrow over when <details> opened */
    & :where(li > details[open] > summary):after {
        transform: rotate(225deg);
        margin-top: 0;
    }
    /* Hide browser default arrow */
    & :where(li > details > summary)::-webkit-details-marker {
        display: none;
    }

    /* Active option (clicked): Solid background */
    & li > *:not(ul, details):active,
    & li > details > summary:active {
        @apply bg-neutral;
    }
    /* Hover and focus: Semi-transparent background */
    /* Applies to all <li> contents except submenu <ul> or <details> */
    /* If <li> contains <details> background applies to the <summary> inside */
    /* <summary> does not get background for focus, only hover and focus-visible */
    :where(& li > *:not(ul, details)):hover,
    :where(& li > details > summary):hover,
    :where(& li > *:not(ul, details)):not(summary):focus,
    :where(& li > *:not(ul, details)):is(summary):focus-visible,
    :where(& li > details > summary):not(summary):focus,
    :where(& li > details > summary):is(summary):focus-visible {
        @apply bg-base-content/10;
        cursor: pointer;
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
}
