@import 'tailwindcss';
@plugin './tailwind-min-size.js';
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    include: modal, carousel, timeline, tooltip, divider, rootcolor;
}

/* TODO this is necessary to allow daisyui to override the custom colors added
   to tailwind.config.cjs theme section, but I do not understand why. Without
   it the daisyui theme will apply to every color except these (they inherit).

   If @config "../tailwind.config.cjs"; above is removed the build will fail
   because of bg-prune in one of the classes in this file. This results in
   the whole app falling back to the default daisyui colors since the ones
   below are never parsed.
*/
@theme {
    --color-prune: #FFF;
    --color-repot: #FFF;
    --color-prune-content: #000;
}

@plugin "daisyui/theme" {
    name: "dark";
    prefersdark: true;
    --depth: 0;
    --card-fs: 1rem;
    --size-field: 0.3rem;
    --radius-box: 1rem;
    --radius-field: 0.5rem;
    --btn-ghost-background: oklch(0.746477 0.0216 264.435964/.2);
    --color-base-content: oklch(0.746477 0.0216 264.435964/1);
    --color-primary: oklch(0.6569 0.196 275.75/1);
    --color-accent: oklch(0.7451 0.167 183.61/1);
    --color-neutral: oklch(0.313815 0.021108 254.139175/1);
    --color-warning: oklch(0.8471 0.199 83.87/1);
    --color-error: oklch(0.7176 0.221 22.18/1);
    --color-info: oklch(0.7206 0.191 231.6/1);
    --color-success: oklch(64.8% 0.150 160/1);
    --color-prune: oklch(0.85 0.1265 66.29);
    --color-repot: oklch(0.38 0.0709 54.66);
    --color-primary-content: oklch(13.138% .0392 275.75/1);
    --color-accent-content: oklch(0.14902 0.0334 183.61/1);
    --color-neutral-content: oklch(0.746477 0.0216 264.435964/1);
    --color-error-content: oklch(0 0 0/1);
    --color-info-content: oklch(0 0 0/1);
    --color-success-content: oklch(0 0 0/1);
    --color-prune-content: oklch(0 0 0/1);
}
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --depth: 0;
    --card-fs: 1rem;
    --size-field: 0.3rem;
    --radius-box: 1rem;
    --radius-field: 0.5rem;
    --btn-ghost-background: oklch(0.278078 0.029596 256.847952/.2);
    --color-primary: oklch(0.4912 0.3096 275.75/1);
    --color-accent: oklch(0.7676 0.184 183.61/1);
    --color-base-100: #F2F2F2;
    --color-base-200: #E5E6E6;
    --color-base-300: #dddddd;
    --color-neutral: #FFFFFF;
    --color-warning: oklch(0.8471 0.199 83.87/1);
    --color-error: oklch(0.7176 0.221 22.18/1);
    --color-info: oklch(0.7206 0.191 231.6/1);
    --color-success: oklch(64.8% 0.150 160/1);
    --color-prune: oklch(0.83 0.155 66.29);
    --color-repot: oklch(0.42 0.081 50.5);
    --color-primary-content: oklch(89.824% .06192 275.75/1);
    --color-accent-content: oklch(0.15352 0.0368 183.61/1);
    --color-neutral-content: #000;
    --color-error-content: oklch(0 0 0/1);
    --color-info-content: oklch(0 0 0/1);
    --color-success-content: oklch(0 0 0/1);
    --color-prune-content: oklch(0 0 0/1);
}

@layer base {
    fieldset {
        @apply text-sm;
    }
    fieldset > legend {
        @apply text-base-content text-left px-1 py-2;
    }
}

@import "./menu.css";
@import "./toast.css";
@import "./button.css";
@import "./section.css";
@import "./dropdown.css";
@import "./floating_footer.css";

@utility card {
    @apply flex flex-col relative rounded-2xl bg-neutral text-neutral-content;
}
@utility card-side {
    @apply flex-row;
}
@utility card-title {
    @apply text-xl font-semibold items-center;
}
@utility card-body {
    @apply flex flex-col flex-auto p-4 gap-2;
}

@utility navbar {
    @apply flex items-center w-full min-h-16 p-2;
}

@utility input {
    @apply relative inline-flex shrink appearance-none text-base cursor-text h-12 px-4;
    border: var(--border)solid #0000;
    border-color: color-mix(in oklab,var(--color-base-content)20%,#0000);
    border-radius: var(--radius-field);
    border-width: var(--border);
    background-color: var(--color-base-100);

    &:focus, &:focus-within {
        @apply outline-2 outline-accent border-accent;
    }

    /* Chromium: remove extra space before calendar icon */
    &::-webkit-calendar-picker-indicator {
        @apply absolute;
        inset-inline-end: 0.75em;
    }

    /* Chromium calendar icon color + calendar picker background color */
    html[data-theme="dark"] & {
        @apply scheme-dark;
    }
}

@utility textarea {
    @apply shrink appearance-none text-base cursor-text min-h-16 py-2 px-4;
    border: var(--border)solid #0000;
    border-color: color-mix(in oklab,var(--color-base-content)20%,#0000);
    border-radius: var(--radius-field);
    border-width: var(--border);
    background-color: var(--color-base-100);

    &:focus, &:focus-within {
        @apply outline-2 outline-accent border-accent;
    }
}

/* Two column layout, left column min-content, right column fills remaining */
@utility grid-cols-min-max {
    @apply grid-cols-[min-content_1fr];
}

/* Allows breaking long strings with no spaces to prevent overflow */
/* Only breaks words if there is no other opportunity (eg spaces) */
@utility break-anywhere {
    overflow-wrap: anywhere;
    word-break: break-word;
}

@utility photo-thumbnail {
    @apply rounded-lg object-cover;
}

/* Fix modal filling full height on iOS safari when address bar visible */
.modal-box {
    max-height: calc(100dvh - 5em);
}

@utility tab-group {
    @apply flex gap-1 rounded-xl bg-neutral p-1;
}

@utility tab-option {
    @apply w-full rounded-lg py-2.5 font-semibold focus:outline-hidden cursor-pointer;
}

@utility tab-option-selected {
    @apply bg-accent text-accent-content;
}

/* Wraps Navbar title dropdown contents (plant/group details) */
@utility details-card {
    @apply card w-72 p-2 mt-2 mx-auto shadow-sm;
    /* Allow scrolling inside card, eg phone in landscape orientation */
    @apply max-h-[calc(100svh-4rem)] overflow-y-auto overscroll-contain;
    /* Prevent long strings without spaces making card side scroll */
    @apply overflow-x-hidden;
}

@utility loading-spinner {
    @apply pointer-events-none inline-block aspect-square bg-current align-middle;
    width: 4rem;
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform-origin='center'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3' stroke-linecap='round'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 12 12' to='360 12 12' dur='2s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-dasharray' values='0,150;42,150;42,150' keyTimes='0;0.475;1' dur='1.5s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-dashoffset' values='0;-16;-59' keyTimes='0;0.475;1' dur='1.5s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}
