@reference './index.css';

/* Prevent scrolling page while scanner is open */
body:has(> [data-testid="qr-scanner-overlay"]) {
    overflow: hidden;
    overscroll-behavior: none;
}

/* Instructions div */
.qr-scanner-instructions {
    @apply absolute bottom-8 left-1/2 -translate-x-1/2 rounded-full px-4 py-2;
    @apply text-nowrap text-lg;

    /* Semi-transparent frosted background */
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: color-mix(in oklab, var(--color-base-300) 50%, #0000);
}

/* Hide red finder div in center of screen */
/* This can be done with the option but it also removes all buttons (stupid) */
[data-testid="qr-scanner-overlay"] > div > div:nth-child(4) > div > div > div > div {
    display: none !important;
}

/* Convert div wrapping icons to flex column */
/* Reverse direction because stupid library puts zoom out above zoom in */
[data-testid="qr-scanner-overlay"] > div > div:nth-child(4) > div > div {
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: flex-end !important;
    justify-content: flex-start !important;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
    gap: 1.5rem;
}

/* Remove button absolute position (fix gap where on/off button was removed) */
[data-testid="qr-scanner-overlay"] > div > div:nth-child(4) > div > div > div {
    position: static !important;
    bottom: auto !important;
    right: auto !important;
}

/* Scanned URL button pop animation */
@keyframes pop {
    0% {
        transform: scale(0.3);
    }
    70% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
[data-testid="scanned-url"] {
    animation: pop 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
