@import "./index.css";

.section {
    @apply flex flex-col w-full max-w-96 bg-base-200 px-4 rounded-2xl;
}

.section-title {
    @apply flex text-center w-full min-h-[3.75rem];
}

.section-title-font {
    @apply text-xl font-medium min-h-0 h-auto py-1 m-auto cursor-default;
}

.section-content {
    @apply min-w-0 min-h-fit px-2 md:px-4 pb-2 md:pb-4;
}

.loading-lg {
    width: 4rem;
}

.tab-group {
    @apply flex gap-1 rounded-xl bg-neutral p-1;
}

.tab-option {
    @apply w-full rounded-lg py-2.5 font-semibold focus:outline-hidden cursor-pointer;
}

.tab-option-selected {
    @apply bg-accent text-accent-content;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Repot modal pot size option */
.pot-size {
    @apply text-xl md:text-2xl text-center font-bold;
    @apply flex rounded-full bg-base-300 focus:outline-hidden;
}

/* Repot modal selected pot size option */
.pot-size-selected {
    @apply bg-primary text-white;
}

/* Dark mode custom pot size placeholder text */
html[data-theme="dark"] .pot-size-selected::placeholder {
    @apply text-white/50;
}

/* Light mode custom pot size placeholder text */
html[data-theme="light"] .pot-size::placeholder {
    @apply text-black/50;
}

html[data-theme="light"] .pot-size-selected::placeholder {
    @apply text-white/65;
}

/* Wraps Navbar title dropdown contents (plant/group details) */
.details-card {
    @apply card w-72 p-2 mt-2 mx-auto shadow-sm;
    /* Allow scrolling inside card, eg phone in landscape orientation */
    @apply max-h-[calc(100svh-4rem)] overflow-y-auto overscroll-contain;
    /* Prevent long strings without spaces making card side scroll */
    @apply overflow-x-hidden;
}

.photo-thumbnail {
    @apply rounded-lg object-cover;
}

/* Make cursor-pointer override cursor style for all children */
.cursor-pointer, .cursor-pointer * {
    cursor: pointer !important;
}

/* Fix modal filling full height on iOS safari when address bar visible */
.modal-box {
    max-height: calc(100dvh - 5em);
}

.floating-footer {
    @apply fixed bottom-0 z-50 flex flex-row my-4 p-4 gap-8;
    @apply bg-gray-600/50 rounded-box shadow-inner transition-all duration-300;
}

.floating-footer-hidden {
    @apply translate-y-24 scale-90 opacity-0;
}

.floating-footer-visible {
    @apply translate-y-0 scale-100 opacity-100;
}

/* Allows breaking long strings with no spaces to prevent overflow */
/* Only breaks words if there is no other opportunity (eg spaces) */
.break-anywhere {
    overflow-wrap: anywhere;
    word-break: break-word;
}
